/* Default (Light Mode) */
:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #ffffff;
    --text-color: #222222;
    --primary-color: #4f46e5;
    --shadow-color: rgba(0, 0, 0, 0.12); 
  }
  
  /* Dark Mode */
  [data-theme="dark"] {
    --bg-color: #0A013D;
    --bg-secondary-color: #342F65;
    --text-color: #ffffff;
    --primary-color: #6366f1;
    --shadow-color: rgba(99, 102, 241, 0.4); 
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-right: 20px;
    padding-left: 20px;
  }

