/* Default (Light Mode) */
:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #ffffff;
    --text-color: #222222;
    --primary-color: #4f46e5;
    --shadow-color: rgba(0, 0, 0, 0.12); 
    --icon-color: #5F33E1;

    --hover-color: #f0f0f0;
    --selected-color: #e5e5ff;
  }
  
  /* Dark Mode */
  [data-theme="dark"] {
    --bg-color: #0A013D;
    --bg-secondary-color: #342F65;
        font-family: 'Inter', sans-serif;

    --text-color: #ffffff;
    --primary-color: #5F33E1;
    --shadow-color: rgba(99, 102, 241, 0.4);
    --hover-color: #1e114f;
    --selected-color: #5F33E1;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-right: 20px;
    padding-left: 20px;
  }


