

.back-button {
    gap: 8px;
    color: var(--text-color);   
}

.create-task {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.save-changes {
    display: flex;
    flex-direction: column;
    gap: 12px
}