.hover {
    display: flex;
    align-items: center;
    position: relative; 
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: 8px 12px;
    border-radius: 12px;
    box-shadow: 0px 1px 6px 0px var(--shadow-color);
    transition: width 0.3s ease;
    cursor: pointer;
}

.edit-delete {
    position: absolute;
    gap: 20px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.edit-icon, .delete-icon {
    filter: brightness(0) saturate(100%) invert(34%) sepia(84%) saturate(747%) hue-rotate(240deg) brightness(92%) contrast(95%);
    transition: transform 0.2s ease;
}

.hover:hover .task {
    width: calc(100% - 5%);
}

.hover:hover .edit-delete {
    opacity: 1;
    visibility: visible;
}

.hover:hover .progress-ring {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.task-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
